@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night, garden;
}

@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  --color-secondary: #055E68;
  --color-primary: #8B5E83;
}
